html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: farreronsserif-italic; src: url("../fonts/farreronsserif-italic.eot"); src: url("../fonts/farreronsserif-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/farreronsserif-italic.woff2") format("woff2"), url("../fonts/farreronsserif-italic.woff") format("woff"), url("../fonts/farreronsserif-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: farreronsserif-light; src: url("../fonts/farreronsserif-light.eot"); src: url("../fonts/farreronsserif-light.eot?#iefix") format("embedded-opentype"), url("../fonts/farreronsserif-light.woff2") format("woff2"), url("../fonts/farreronsserif-light.woff") format("woff"), url("../fonts/farreronsserif-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: helveticaneuecyr-roman; src: url("../fonts/helveticaneuecyr-roman.eot"); src: url("../fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { min-width: 1300px; font-family: "helveticaneuecyr-roman", Arial, sans-serif; font-size: 12px; line-height: 1.8; letter-spacing: 2px; color: white; color: rgba(255, 255, 255, 0.5); }

a { text-decoration: none; }

.l-center { margin: 0 auto; width: 1155px; *zoom: 1; }
.l-center:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1400px) { .l-center { width: 1000px; } }

.out { position: relative; }

.out_index { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; }

.line-bg { position: absolute; top: 0; bottom: 0; z-index: 2; width: 20px; background: rgba(31, 26, 23, 0.2); -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; }
.line-bg.has-hover { background: rgba(31, 26, 23, 0.8); }

.line-bg_left { left: 0; }

.line-bg_right { right: 0; }

.nav { position: absolute; top: 100%; left: 0; right: 0; padding: 60px 0; background: #1f1a17 url(../img/nav.jpg) 100% 100% no-repeat; z-index: 3; }
.nav .btn { margin-top: 22px; }

.nav__col { float: left; margin-right: 100px; }

.nav__title { margin-bottom: 63px; font-size: 30px; font-family: "farreronsserif-light", Arial, sans-serif; line-height: 1.4; }
.nav__title a { display: inline-block; border-bottom: 1px solid; color: white; color: rgba(255, 255, 255, 0.7); -webkit-transition: border 0.2s, color 0.2s; -moz-transition: border 0.2s, color 0.2s; -o-transition: border 0.2s, color 0.2s; transition: border 0.2s, color 0.2s; }
.nav__title a:hover { color: white; border-color: transparent; }

.nav__list li { margin-bottom: 15px; }
.nav__list li.is-marked a { color: #bc8420; color: rgba(188, 132, 32, 0.5); -webkit-transition: color 0.3s; -moz-transition: color 0.3s; -o-transition: color 0.3s; transition: color 0.3s; }
.nav__list li.is-marked a:before { background: #bc8420; }
.nav__list li.is-marked a:hover { color: #bc8420; }
.nav__list a { position: relative; color: white; color: rgba(255, 255, 255, 0.5); -webkit-transition: color 0.3s; -moz-transition: color 0.3s; -o-transition: color 0.3s; transition: color 0.3s; text-transform: uppercase; font-size: 12px; }
.nav__list a:hover:before { width: 50px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.nav__list a:before { content: ""; position: absolute; left: -65px; margin-top: -1px; top: 50%; height: 1px; width: 0; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.3s, width 0.3s; -moz-transition: opacity 0.3s, width 0.3s; -o-transition: opacity 0.3s, width 0.3s; transition: opacity 0.3s, width 0.3s; }
.nav__list a:hover { color: white; }

.address { margin-bottom: 13px; text-transform: uppercase; font-size: 12px; color: white; color: rgba(255, 255, 255, 0.5); }
.address a { color: #bc8420; color: rgba(188, 132, 32, 0.5); -webkit-transition: color 0.3s; -moz-transition: color 0.3s; -o-transition: color 0.3s; transition: color 0.3s; }
.address a:hover { color: #bc8420; }

.address__title { color: #625c57; }

.header { position: absolute; top: 0; right: 20px; left: 20px; z-index: 2; }
.header.has-hover .header__top { background: rgba(31, 26, 23, 0.8); }

.header__top { *zoom: 1; height: 70px; line-height: 70px; font-size: 0; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; background: rgba(31, 26, 23, 0.2); }
.header__top:after { content: " "; display: table; clear: both; }

.header__nav { float: left; position: absolute; left: 0; top: 0; height: 70px; padding-left: 58px; background: none; color: white; color: rgba(255, 255, 255, 0.3); -webkit-transition: color 0.3s; -moz-transition: color 0.3s; -o-transition: color 0.3s; transition: color 0.3s; font-family: "helveticaneuecyr-roman", Arial, sans-serif; letter-spacing: 2px; text-transform: uppercase; font-size: 11px; }
.header__nav:hover { color: white; }
.header__nav:hover i { background: #bc8420; }
.header__nav:hover i:before { -webkit-transform: translateY(-5px); -moz-transform: translateY(-5px); -ms-transform: translateY(-5px); -o-transform: translateY(-5px); transform: translateY(-5px); }
.header__nav:hover i:after { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); }
.header__nav.is-active i { background: #bc8420; }
.header__nav i { position: absolute; left: 0; top: 50%; width: 44px; height: 1px; background: white; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; }
.header__nav i:before, .header__nav i:after { content: ""; position: absolute; left: 0; width: 100%; height: 1px; background: inherit; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; transition: transform 0.3s; }
.header__nav i:before { top: -9px; }
.header__nav i:after { bottom: -9px; }

.header__logo { display: inline-block; height: 70px; }
.header__logo img { vertical-align: middle; width: 50%; }

.header__link { position: absolute; right: 0; top: 0; height: 70px; color: white; opacity: 0.5; font-size: 11px; text-transform: uppercase; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; will-change: opacity; }
.header__link:hover { opacity: 1; }
.header__link:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 11px; background: url('../img/icons-s405eecdfdd.png') 0 -30px no-repeat; width: 21px; height: 11px; }
.header__link:hover { opacity: 1; }

.btn { display: inline-block; position: relative; padding: 0 30px; height: 41px; line-height: 39px; color: #bc8420; border: 1px solid; font-family: "helveticaneuecyr-roman", Arial, sans-serif; font-size: 11px; text-transform: uppercase; background: none; }
.btn:before { content: ""; position: absolute; left: 5px; right: -2px; bottom: -3px; height: 3px; background: #bc8420; }
.btn:after { content: ""; position: absolute; right: -3px; top: 5px; bottom: -3px; width: 3px; background: #bc8420; }

.footer { position: absolute; right: 20px; bottom: 0; left: 20px; height: 50px; line-height: 50px; background: rgba(31, 26, 23, 0.2); -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; }
.footer.has-hover { background: rgba(31, 26, 23, 0.8); }
.footer a { display: inline-block; color: white; font-size: 11px; text-transform: uppercase; opacity: 0.5; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; will-change: opacity; }
.footer a:hover { opacity: 1; }

.footer__lang { float: left; margin-right: 130px; }
.footer__lang a { margin-left: 11px; }
.footer__lang a.is-active { opacity: 0.2; }
.footer__lang a:first-child { margin-left: 0; }

.footer__contacts { float: left; }
.footer__contacts a { margin-right: 45px; }

.footer__meta { float: right; }

.link-address { position: relative; }
.link-address:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 13px; background: url('../img/icons-s405eecdfdd.png') 0 -51px no-repeat; width: 12px; height: 19px; }

.section { background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
